<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Chat Bot</title>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href='../static/chat.css'>

</head>


<body>
    <div class="divIframeChat" style="display: block;">
        <span class="close"></span>
        <iframe src="https://webnav.herokuapp.com/nav/chat" allow="geolocation; microphone; camera" id="chatBoxFrame" name="chatBoxFrame" scrolling="no" style="border: 0px; box-shadow: rgb(186, 186, 186) 0px 4px 8px 0px, rgb(136, 136, 136) 0px 6px 20px 0px; position: fixed; z-index: 999; height: 90%; width: 30%; bottom: 5px; right: 20px; min-height: 5%; min-width: 350px; border-radius: 6px; padding-top: 0px; max-height: 80%; display: block;"></iframe>
    </div>
</body>

</html>