<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chat Bot</title>
<meta charset="utf-8"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://webnav.herokuapp.com/static/welcome.js"></script>
<link rel="stylesheet" type="text/css" href='https://webnav.herokuapp.com/static/welcome.css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
    <div class="container-fluid">
            <div class="container">
                <div class="row">
                    {% for item in itemdata %}
                    <div class="col-sm-4 py-2">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <figure class="figure">
                                    <img src="{{item.1}}" class="figure-img img-fluid rounded" alt="">
                                    <figcaption class="figure-caption text-center">{{item.0}}</figcaption>
                                    <figcaption class="figure-caption text-center">&#8377 {{item.2}}/-</figcaption>
                                </figure>
                            </li>
                        </ul>  
                    </div>
                    {% endfor %}
                </div>
            </div>
    </div> 
    

    <div class="chatImgWrapper ahaAxisBox"> 
        <a href="javascript:void(0)" title="ChatBot"> 
            <img alt="ChatBot" id="openChatBtn" src="https://webnav.herokuapp.com/static/chaticon.png"> 
        </a>
    </div>
            
    <div class="divIframeChat" style="display: block;"> 
        <span class="close"></span>
        <iframe src="https://webnav.herokuapp.com/nav/chatopen" id="chatbot" frameborder="0" scrolling="no" allow="microphone; geolocation" style="display: none;border: 1000px;" title="Axis ChatBot" ></iframe>
    </div>

    <!-- {% csrf_token %} -->

</body>
</html>